{% extends 'base.html.twig' %}

{% block title %}Snowtricks -{{ 'home' | trans }}{% endblock %}

{% block body %}
<section class="jumbotron jumbotron-fluid vh-75 position-relative"  style="background-image: url({{ absolute_url(asset('build/images/background.jpg')) }}); background-size: cover;">
    <div class="container text-center">
        <div class="row">
            <div class="col mt-5 pt-5">
                <img src="{{ asset('build/images/Logo_SnowTricks_06.png') }}" alt="Snowtricks logo" >
                <p class="lead text-white">{{ 'lead' | trans }}</p>
            </div>
        </div>
        <div class="row position-absolute bottom-0 end-0 pe-2 pb-2 mt-2">
            <div class="col mb-2">
                <a href="#tricks" class="link-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
{{ render(path('app_trick_index', {max: 10})) }}
{% endblock %}
