{% block body %}
    <aside class="text-center container my-5">
        <ul class="medias d-flex justify-content-center ps-1 flex-wrap flex-xl-nowrap"
        >
            {% for image in images %}
                <li class="list-unstyled my-2">
                    <img src="{{ image.path }}" alt="trick" width="640" height="480"/>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {{ include('image/_delete_form.html.twig') }}
                    {% endif %}
                </li>
            {% else %}
                <li class="list-unstyled">{{ 'empty' | trans }}</li>
            {% endfor %}
        </ul>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_image_new', {'trick' : trick.id}) }}" role="button" class="btn btn-success my-4 add_item_link" data-collection-holder-class="images">{{ 'add_image' | trans }}</a>
        {% endif %}
    </aside>
{% endblock %}
