{% block body %}
    <aside class="text-center" data-controller="video">
        <ul class="medias d-flex justify-content-around"
            {# data-index="{{ images|length > 0 ? images|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(images.vars.prototype)|e('html_attr') }}" #}
        >
            {% for video in videos %}
                <li class="list-unstyled">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {# <iframe width="560" height="315" src="https://www.youtube.com/embed/t705_V-RDcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
                    {# <iframe width="420" height="345" src="{{video.link}}" frameborder="0" allowfullscreen></iframe> #}
                <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
                    {# <div id="player-{{video.id}}" data-video-target="player"></div> #}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {{ include('video/_delete_form.html.twig') }}
                    {% endif %}
                </li>
            {% else %}
                <li class="list-unstyled">{{ 'empty' | trans }}</li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_video_new', {'trick' : trick.id}) }}" role="button" class="btn btn-primary mt-2 add_item_link" data-collection-holder-class="videos">{{ 'create_new' | trans }}</a>
    </aside>
{% endblock %}
