{{ form_start(form) }}
    <button type="button" class=" btn btn-dark add_item_link" data-collection-holder-class="videos">{{ 'add_video' | trans }}</button>
    <ul class="videos" 
        data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
    {# data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}" #}
    >
        {# {% for video in form.videos %}
            <li><input>{{ form_row(video.value) }}</input></li>
        {% endfor %} #}
    </ul>
    <button type="button" class=" btn btn-dark add_item_link" data-collection-holder-class="images">{{ 'add_image' | trans }}</button>
    <ul class="images" 
        data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"
    >
    </ul>
    {# <div 
    data-controller="video"
    > #}
    {# store the prototype on the data-prototype attribute #}
        {# <ul id="video-fields-list"
            data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.videos|length }}">
            {% for videoField in form.videos %}
                <li class="list-unstyled" data-video-target="field">
                    {{ form_errors(videoField) }}
                    {{ form_row(videoField) }}
                </li>
            {% else %}
                <li data-video-target="field">
                </li>
            {% endfor %}
        </ul> #}
        {# <button 
            type="button"
            data-action="video#add"
            class="add-another-collection-widget btn btn-dark"
            data-list-selector="#video-fields-list"
        >{{'create_new' | trans }} video</button> #}
    {# </div> #}
{{ form_end(form) }}
    {# <button class="btn btn-dark">{{ 'submit'| trans }}</button> #}
<script>
    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        const item = document.createElement('li');
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );
        collectionHolder.appendChild(item);
        collectionHolder.dataset.index++;
        item.classList.add('list-unstyled');
    };
        document
        .querySelectorAll('.add_item_link')
        .forEach(btn => {
            btn.addEventListener("click", addFormToCollection)
    });
</script>