{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    <div>
        <button type="button" class="btn btn-dark add_item_link" data-collection-holder-class="videos">{{ 'add_video' | trans }}</button>
        {# <button type="button" class="btn btn-danger remove_item_link" data-collection-holder-class="videos">{{ 'remove' | trans }}</button> #}
        <ul class="videos" 
            data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
        >
        </ul>
    </div>
    <div>
        <button type="button" class="btn btn-dark add_item_link" data-collection-holder-class="images">{{ 'add_image' | trans }}</button>
        {# <button type="button" class="btn btn-danger remove_item_link" data-collection-holder-class="images">{{ 'remove' | trans }}</button> #}
        <ul class="images" 
            data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"
        >
        </ul>
    </div>
{{ form_end(form) }}
<script>
    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        const item = document.createElement('li');
        /*  const deleteBtn = document.createElement('button');
        const deleteIcon =  document.createElement('i');
        deleteIcon.classList.add('bi', 'bi-x');
        deleteBtn.setAttribute('type' ,'button');
        deleteBtn.classList.add('btn' ,'btn-dark', 'remove_item_link');
        deleteBtn.append(deleteIcon); */
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );
    // item.appendChild(deleteBtn); 
        collectionHolder.appendChild(item);
        collectionHolder.dataset.index++;
        item.classList.add('list-unstyled', 'd-flex', 'justify-content-between');
    };

    const removeFormElementFromCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
      //  collectionHolder.removeChild(collectionHolder.lastChild);
      //   console.log(collectionHolder)
    };

    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
    });  
    document
    .querySelectorAll('.remove_item_link')
    .forEach(btn => {
        console.log(btn)
        btn.addEventListener("click", removeFormElementFromCollection)
    });
</script>