{% block title %}<h2 class="display-5 text-center my-5">{{ 'tricks' | trans }}</h2>{% endblock %}
{% block body %}
    <section id="tricks" class="container">
        <div class="row">
            {% for trick in tricks %}
                <div class="col-lg-4 mb-5">
                    <div class="card shadow">
                        <img src="https://picsum.photos/seed/picsum/200" class="card-img-top" alt="Placeholder img">
                        <div class="card-body">
                            <div class="row text-center justify-content-around">
                                <div class="col">
                                    <a href="{{ path('app_trick_show', {'id': trick.id}) }}" class="card-link text-decoration-none display-6 fw-bold flex">{{ trick.name }}</a>
                                </div>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <div class="col">
                                        <div class="row justify-content-end align-items-baseline">
                                            <div class="col">
                                                <a href="{{ path('app_trick_edit', {'id': trick.id}) }}" class="card-link text-decoration-none btn btn-light btn-block" role="button"><i class="bi bi-pencil-fill"></i></a>
                                            </div>
                                            <div class="col">
                                                {{ include('trick/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">{{ 'empty' | trans }}</p>
            {% endfor %}
        </div>
    </section>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <section class="text-center">
            <a href="{{ path('app_trick_new') }}" role="button" class="btn btn-primary">{{ 'create_new' | trans }}</a>
        </section>
    {% endif %}
{% endblock %}
