{% block title %}<h1>{{ 'tricks' | trans }}</h1>{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'name' | trans }}</th>
                <th>{{ 'description' | trans }}</th>
                <th>{{ 'created_at' | trans }}</th>
                <th>{{ 'updated_at' | trans }}</th>
                <th>{{ 'actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_trick_show', {'id': trick.id}) }}">{{ 'show' | trans }}</a>
                    <a href="{{ path('app_trick_edit', {'id': trick.id}) }}">{{ 'edit' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'empty' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_trick_new') }}">{{ 'create_new' | trans }}</a>
{% endblock %}
