{% block title %}<h2 class="display-5 text-center my-5">{{ 'tricks' | trans }}</h2>{% endblock %}
{% block body %}
    <section id="tricks" class="container"   
    >
        <div 
            class="row"
            {{ stimulus_controller('load-more-content', {
                max: 15,
                infoUrl: path('app_trick_index')
            }) }}
            data-load-more-content-target="tricks"
        >
            {% for index , trick in tricks %}
                <div 
                    class="col-lg-4 mb-5"
                    data-load-more-content-target="trick"
                >
                    <div class="card shadow">
                        {% if trick.images|length > 0 %}
                            <img src="{{trick.images[0].path}}" class="card-img-top" alt="Thumbnail image" width="360" height="300">
                        {% else %}
                            <img src="https://picsum.photos/seed/picsum/200" class="card-img-top" alt="Placeholder img" width="360" height="300">
                        {% endif %}
                        <div class="card-body">
                            <div class="row text-center justify-content-around">
                                <div class="col">
                                    <a href="{{ path('app_trick_show', {'slug': trick.slug}) }}" class="card-link text-dark text-decoration-none fs-3 text-uppercase marker-100 flex">{{ trick.name }}</a>
                                </div>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <div class="col">
                                        <div class="row justify-content-center align-items-baseline">
                                            <div class="col text-end">
                                                <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}" class="card-link text-decoration-none btn btn-dark" role="button"><i class="bi bi-pencil-fill"></i></a>
                                            </div>
                                            <div class="col text-start">
                                                {{ include('trick/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">{{ 'empty' | trans }}</p>
            {% endfor %}
        </div>
        {% if tricks %}
            <div class="text-center mb-5">
                <button 
                    role="button" 
                    class="btn btn-outline-primary"
                    data-action="load-more-content#onLoadMore"
                >
                    {{ 'load_more' | trans | upper }}
                </button>
            </div>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="text-center mb-5 d-grid col-4 mx-auto">
                <a href="{{ path('app_trick_new') }}" role="button" class="btn btn-dark btn-lg shadow fw-bold">{{ 'create_new' | trans | upper }} {{'trick' | trans | upper }}</a>
            </div>
        {% endif %}
        <div class="row position-fixed bottom-0 end-0 pe-2 pb-2 mt-2">
            <div class="col mb-2">
                <a href="#tricks" class="link-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                    <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
                    </svg>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
