{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <section class="container vh-75">
        <h1>{{ 'create_new' | trans }} {{ 'trick' | trans }}</h1>
        {{ include('trick/_form.html.twig') }}
        <div class="text-center">
            <a href="{{ path('app_home') }}" role="button" class="btn btn-secondary">{{ 'back_to_list' | trans }}</a>
        </div>
    </section>
{% endblock %}
