{% extends 'base.html.twig' %}

{% block title %}
	{{ 'trick' | trans }}
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<div class="container jumbotron">
			<div class="p-4 p-md-5 mb-4 text-white rounded jumbotron">
				<div class="row justify-content-center">
					<div class="col">
						<a href="{{ path('app_home') }}" class="text-decoration-none text-black display-6">
							<i class="bi bi-arrow-left-square-fill"></i>
						</a>
					</div>
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<div class="col justify-content-end d-flex gap-3">
							<div>
								<a class="text-decoration-none btn btn-outline-light text-black display-4" href="{{ path('app_trick_edit', {'id': trick.id}) }}">
									<i class="bi bi-pencil-fill"></i>
								</a>
							</div>
							<div>
								{{ include('trick/_delete_form.html.twig') }}
							</div>
						</div>
					{% endif %}
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 px-0 text-center">
						<h1 class="display-1 font-italic">{{ trick.name }}</h1>
						<p class="lead my-3">{{ trick.description }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container mb-4">
			<div class="row text-center">
				<div class="col">
				{# TODO: responsive mobile media queries - this button displays the videos & images linked to a trick #}
					<button class="btn btn-primary">See medias</button>
				</div>
			</div>
		</div>
		<section id="media" class="container">
			<div class="row mb-2">
				<div class="col">
					<img src="https://picsum.photos/seed/picsum/200/200" class="w-100" />
				</div>
				<div class="col">
					<img src="https://picsum.photos/id/237/200/200" class="w-100" />
				</div>
				<div class="col">
					<img src="https://picsum.photos/seed/picsum/200/200" class="w-100" />
				</div>
				<div class="col">
					<img src="https://picsum.photos/seed/picsum/200/200" class="w-100" />
				</div>
				<div class="col">
					<img src="https://picsum.photos/seed/picsum/200/200" class="w-100" />
				</div>
			</div>
		</section>
		<main class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3 class="pb-4 mb-4 font-italic border-bottom">
						#{{ trick.id }}
					</h3>
					<div class="blog-post">
						<h2 class="blog-post-title">{{ trick.name }}</h2>
						<p class="blog-post-meta">{{ trick.updatedAt ? trick.updatedAt|date('d/m/Y H:i:s') : '' }} by
							<a href="#">Mark</a>
						</p>
						<p>{{ trick.description }}</p>
					</div>
				</div>
			</div>
		</main>
	</section>
{% endblock %}
